{% extends 'store/base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}
<h1>Список товаров</h1>

{% if products %}
  <div class="grid">
    {% for p in products %}
      <div class="card">
        <a href="{% url 'product_detail' p.id %}" class="card-title">{{ p.name }}</a>
        <div class="price">{{ p.price|floatformat:2 }} ₽</div>

        {% if p.image %}
          <img src="{{ p.image.url }}" alt="{{ p.name }}">

        {% endif %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Пока товаров нет.</p>
{% endif %}
{% endblock %}


